<div class="modal-header">
    <h3>
        {{'CHANGE_TEXT_OPTIONS'|translate}}
        <img tooltip="{{config.lang | langName}}" class="flag" ng-src="./img/24/{{config.lang}}.png"/>
    </h3>
</div>
<div class="modal-body">
    <div class="option" ng-show="showTime">
        <div>
            {{'TIME_LEARN_MINUTES'|translate}}:
            <b>{{config.learn_minutes}}</b>
        </div>
        <input class="sides-padded-6" type="range" min="2" max="10" ng-model="config.learn_minutes">
    </div>

    <div class="option">
        <div>{{'LETTERS_TO_APPEAR'|translate}}:</div>


		<span class="letters" ng-repeat="item in letters" ng-switch on="item.change">
			<button ng-switch-when="true" type="button" class="btn btn-default {{item.include}}" ng-model="item.include"
                    ng-click="changeGroup($index)">{{item.value}}
            </button>
			<button ng-switch-default type="button" class="btn btn-default {{item.include}}" ng-model="item.include"
                    tooltip="{{'LETTERS_ALWAYS_INCLUDED'|translate}}" tooltip-trigger="mouseenter">{{item.value}}
            </button>
		</span>

        <p class="text-muted sides-padded-6">{{'LEARN_LETTERS_INFO'|translate}}</p>
    </div>

    <div class="option">
        <div>
            {{'USE_FOCUS'|translate}}:
            <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="config.use_focus">
        </div>
        <p class="text-muted sides-padded-6">{{'USE_FOCUS_INFO'|translate}}</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">{{'CANCEL'|translate}}</button>
    <button class="btn btn-primary" ng-click="ok()">{{'SAVE'|translate}}</button>
</div>