<div class="modal-header">
    <h3>{{data.title}}</h3>
</div>
<div class="modal-body">{{data.message}}</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{'OK'|translate}}</button>
</div>