<div class="modal-header">
    <h3>{{message.title}}</h3>
</div>
<div class="modal-body">{{message.message}}</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">{{'CANCEL'|translate}}</button>
    <button class="btn btn-primary" ng-click="ok()">{{'OK'|translate}}</button>
</div>