<div class="modal-header">
    <h3>
        {{'CHANGE_TEXT_OPTIONS'|translate}}
        <img tooltip="{{config.lang | langName}}" class="flag" ng-src="./img/24/{{config.lang}}.png"/>
    </h3>
</div>
<div class="modal-body">

    <div class="option">
        <div>
            {{'TIME_WRITE_MINUTES'|translate}}:
            <b>{{config.write_minutes}}</b>
        </div>
        <input class="sides-padded-6" type="range" min="1" max="5" ng-model="config.write_minutes">
    </div>

    <div class="option">
        <div>
            {{'MOST_POPULAR_WORDS'|translate}}:
            <b>{{config.write_config|writeConfig}}</b>
        </div>
        <input class="sides-padded-6" type="range" min="1000" max="6000" step="1000" ng-model="config.write_config">
    </div>

    <div class="option" ng-show="showPutFocus">
        <div>
            {{'USE_FOCUS'|translate}}:
            <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="config.use_focus">
        </div>
        <p class="text-muted sides-padded-6">{{'USE_FOCUS_INFO'|translate}}</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">{{'CANCEL'|translate}}</button>
    <button class="btn btn-primary" ng-click="ok()">{{'SAVE'|translate}}</button>
</div>