<div class="modal-header">
    <h3>{{'CHOOSE_TEXT_LANGUAGE'|translate}}</h3>
</div>
<div class="modal-body">
	<span class="lang" ng-repeat="(lang, name) in items">
		<button type="button" class="btn btn-default" ng-model="selectedItem.id" btn-radio="'{{lang}}'">
            <img class="flag" ng-src="./img/24/{{lang}}.png"/>
            {{name}}
        </button>
	</span>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">{{'CANCEL'|translate}}</button>
    <button class="btn btn-primary" ng-click="ok()">{{'SAVE'|translate}}</button>
</div>