<div class="modal-header">
    <h3>
        {{'GROUP_OPTIONS'|translate}}
    </h3>
</div>
<div class="modal-body">

    <div class="option">
        <div>
            {{'GROUP_ADD_USERS_LINK'|translate}}:
        </div>
        <input class="form-control" type="text" ng-model="group.link" ng-click="onLinkClick($event)"
               ng-change="onLinkChanged()">
        <p class="text-muted sides-padded-6">{{'GROUP_ADD_USERS_LINK_INFO'|translate}}</p>
    </div>

    <div class="option">
        <div>
            {{'GROUP_SHOW_OTHERS_NAMES'|translate}}:
            <input type="checkbox" ng-model="group.show_others" ng-true-value="1" ng-false-value="0">
        </div>
        <p class="text-muted sides-padded-6">{{'GROUP_SHOW_OTHERS_NAMES_INFO'|translate}}</p>
    </div>

    <div class="option">
        <div>
            {{'GROUP_ARCHIVE'|translate}}:
            <input type="checkbox" ng-model="group.is_archived">
        </div>
        <p class="text-muted sides-padded-6">{{'GROUP_ARCHIVE_INFO'|translate}}</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">{{'CANCEL'|translate}}</button>
    <button class="btn btn-primary" ng-click="ok()">{{'SAVE'|translate}}</button>
</div>