@CHARSET "UTF-8";

.line.ng-enter, .line.ng-leave, .line.ng-move {
    -webkit-transition: all 2.0s ease-in-out;
    -moz-transition: all 2.0s ease-in-out;
    -o-transition: all 2.0s ease-in-out;
    transition: all 2.0s ease-in-out;
}

.line.ng-enter, .line.ng-move {
    height: 0;
    overflow: hidden;
    padding-top: 0;
}

.line.ng-move.ng-move-active, .line.ng-enter.ng-enter-active {
    height: 62px;
}

.line.ng-leave {
    padding-top: 10px;
    overflow: hidden;
    height: 48px;
}

.own .line.ng-move.ng-move-active, .own. line.ng-enter.ng-enter-active {
    height: 22px;
}

.own .line.ng-leave {
    height: 22px;
}

.line.ng-leave.ng-leave-active {
    height: 0;
    padding-top: 0;
}