div.competition {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 200px;
    display: inline-block;
}

table.competitions tbody tr td {
    vertical-align: middle;
}

#competitions .tab-content {
    padding: 25px 15px;
}

.options div.option {
    padding: 20px 10px;
}

.options div.option .btn {
    margin: -3px 8px 0 0;
}

/* current ranking when writing */
tr.current {
    font-weight: bold;
    color: #298A08;
}

tr.same {
    font-style: italic;
}

tr.sameWorse {
    text-decoration: line-through;
}

tr.worseTry {
    text-decoration: line-through;
    color: #B43104;
    font-weight: bold;
}

table.summary td span.glyphicon {
    width: 16px;
    height: 16px;
}

#morePositions {
    float: right;
}

span.user-thumbnail {
    margin: 0 auto;
    width: 52px;
    height: 55px;
}

span.user-thumbnail > img {
    height: 45px;
}

#positionInCompetition {
    min-height: 100px;
}