@CHARSET "UTF-8";

div.learn-config .row {
    margin-top: 30px;
}

div.letterGroups span {
    display: inline-block;
    padding: 3px 10px;
    letter-spacing: 4px;
    border-radius: 6px;
    margin: 4px;
    border: 1px solid black;
    color: white;
}

div.letterGroups span:first-child {
    margin-left: 0px;
}

div.letterGroups span:hover {
    cursor: pointer;
}

div.letterGroups span.changeable-false {
    cursor: default;
}

div.letterGroups span.include-true {
    background-color: #5cb85c;
}

div.letterGroups span.include-false {
    background-color: #d2322d;
}