
.placeholders {
    text-align: center;
}

.placeholders h4, .placeholders h3 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

#dashboard .text-muted {
    font-size: 15px;
}

.dashboardHeader {
    margin-bottom: 10px;
}

.dashboardHeader div {
    display: inline-block;
    vertical-align: top;
}

.dashboardHeader .thumbnail {
    margin-right: 20px;
    margin-bottom: -10px;
}

.typingHistory img {
    margin-top: -3px;
    margin-right: 3px;
}

#chart {
    height: 520px;
    width: 113%;
    margin-left: -10%;
    margin-bottom:30px;
}

.dashboardOptions input.opt {
    vertical-align: middle;
    margin: 0 -3px 1px 8px;
}

.apr {
    padding: 10px;
    width: 200px;
}

.apr div {
    padding: 3px;
}

.userfoto label {
    margin: 0;
}

.userfoto label img.pointed {
    cursor: pointer;
}

#changeImage {
    display: none;
}

#dashboard h3.sub-header {
    border-bottom: 2px solid #eee;
    padding-bottom: 8px;
}

#dashboard div.positionsHistory {
    margin-top: 21px;
}

#dashboard div.competitionsHistory {
    margin-top: 10px;
    margin-left: 5%;
}