td.student span.user-thumbnail {
    display: inline-block;
    vertical-align: middle;
}

td.student a:hover {
    text-decoration: none;
}

table.students tbody tr td {
    vertical-align: middle;
}

td.student span.user-nick {
    vertical-align: middle;
    font-size: 110%;
    display: inline-block;
    max-width: 220px;
    padding-left: 5px;
    color: black;
}

table.students thead tr th, table.students thead tr th span {
    cursor: pointer;
}

table.students thead tr th.true, table.students thead tr th span.true {
    text-decoration: underline;
}

table.students thead tr th.student-name {
    width: 28%;
}

table.students thead tr th input {
    width: 50%;
    min-width: 80px;
    display: inline-block;
    font-weight: normal;
    height: 22px;
    opacity: 0.8;
}

img.group-lang {
    height: 27px;
    margin-top: -4px;
}

span.remove-from-group {
    cursor: pointer;
    margin-top: 3px;
}

#group-students {
    margin-top: 54px;
}

#group-students div.tab-content {
    padding-top: 25px;
}

span.group-competition-head, div.group-competition-head {
    font-size: 80%;
    font-weight: normal;
}

th.group-competition-head {
    vertical-align: top !important;
    font-weight: normal;
    font-size: 90%;
}

button.add-group-competition {
    border: none;
    padding: 1px 6px;
    font-size: 11px;
    margin-left: 4px;
    margin-top: -3px;
    vertical-align: bottom;
    color: #428bca;
}

.user-nick.true {
    /*current user on the list*/
    text-decoration: underline;
}

span.archived-true {
    /*text-decoration: line-through;*/
    color: #999;
    cursor: default;
}

ul.dropdown-menu span.archived-1 {
    color: #999;
}

#other-groups-btn {
    margin-left: 7px;
}

#other-groups-form {
    background-color: #f5f5f5;
    padding: 6px 8px;
    margin: -5px 0 -9px 0;
    border-radius: 5px;
    min-width: 220px;
}

#other-groups-form input[type=search] {
    height: 22px;
    margin-bottom: 4px;
}

#other-groups-form span {
    margin: 5px 0 0 3px;
    position: absolute;
    font-weight: normal;
}

#other-groups-form input[type=checkbox] {
    margin: 6px 0 0 1px;
}

div.add-group-form{
    margin-top: 48px;
}
div.add-group-intro{
    margin-top: 40px;
    line-height: 2;
}