#login .panel {
    min-height: 260px;
}

#login .clients {
    padding: 0 40px 40px 15px;
}

#login .clients div.connectBtn {
    text-align: center;
    margin-top: 25px;
}

#login .clients button {
    width: 200px;
}

#login input.login-with-email{
    width: 80%;
    margin: 30px 0 -10px 9%;
}

.linkedin {
    background-color: #23639a;
}