#modes div.box {
    display: inline-block;
    width: 300px;
    margin: 0 23px;
    vertical-align: top;
    text-align: justify;
}

#modes div.box:first-child {
    margin-left: 0;
}

#modes div.box:last-child {
    margin-right: 0;
}

div.errorBox {
    margin-top: -25px;
    margin-bottom: 10px;
}

.opinionAvatar {
    text-align: center;
    margin-top: 6px;
}

.opinionAvatar img {
    width: 100px;
    height: 100px;
    border: 2px solid #F5C800;
    /* EBECED*/
}

div.col-md-6.video {
    padding: 70px 40px 40px;
}

.main-page .text-muted {
    font-size: 15px;
}

.main-page p {
    margin: 0 0 16px;
}

.main-page .opinions {
    margin: 70px 0 25px;
}

#knowMore p.lead {
    line-height: 1.8;
    text-align: justify;
}

p.feature, p.opinion {
    text-align: justify;
}

.main-page h2 a {
    color: #333;
}

.main-page h2 a:hover {
    text-decoration: none;
}

.jumbotron {
    margin-top: -60px;
}

.jumbotron .container h1 {
    font-size: 52px;
    margin-bottom: 15px;
}

.jumbotron summary {
    margin-bottom: 18px;
    font-size: 22px;
    font-weight: 200;
}

.main-page h3 {
    /* 	like h2 */
    font-size: 30px;
}

.main-page h2, .main-page h3 {
    margin: 20px 0 10px;
    font-size: 28px;
}

.main-page ul.advantages {
    list-style: none;
    padding: 3px;
    line-height: 200%;
    font-size: 19px;
    margin: 10px 0 55px 0;
}

.main-page .fbbox {
    margin-top: -52px;
}

.main-page ul.advantages li {
    text-indent: -60px;
    padding-left: 50px;
}

.main-page ul.advantages li:before {
    content: '\2713';
    margin: 0 1em;
}