.modal-body .lang button {
    width: 156px;
    margin: 13px 13px 10px 13px;
}

.modal-body .lang button.active {
    background-color: #E1E1E1;
}

.modal-body div {
    margin: 10px 0;
}

.modal-body div.option {
    margin-top: 40px;
}

.modal-body div.option div {
    margin-bottom: 5px;
}

.modal-body div.option:first-child {
    margin-top: 15px;
}

.modal-body .btn-default:hover, .modal-body .btn-default:focus, .modal-body .btn-default:active, .modal-body .btn-default.active {
    background-color: transparent;
}

.letters .true, .letters .btn-default:hover .true, .letters .btn-default:focus .true, .letters .btn-default:active .true, .letters .btn-default.active .true {
    background-color: #E1E1E1 !important;
}

.letters button {
    width: 53px;
    margin: 6px;
    border-radius: 10px;
}