html {
    position: relative;
    min-height: 100%;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

body {
    margin-bottom: 100px !important;
    line-height: 1.58 !important;
    /* 		Margin bottom by footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color: #303644;
    /*border-top: 2px solid #EBECED;*/
    border-top: 2px solid #F5C800;
    padding-top: 12px;
    color: #d6d6d7;
}

#footer p {
    padding-top: 5px;
}

#footer .contact-details {
    padding-top: 24px;
    text-align: right;
}

ul.nav li {
    margin-left: 32px;
    z-index: 100;
    /*with narrows screen it used to be covered*/
}

.container-full {
    /*min-width: 680px;*/
}

.container-full {
    /* 	padding-top: 110px;if navbar-fixed-top */
    padding-top: 38px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 100px;
}

/* ::selection { */
/* 	color: transparent; */
/* 	background: transparent; */
/* } */
:focus {
    outline: none !important;
}

img.flag {
    margin-top: -3px;
}

img.flag16 {
    margin-top: -2px;
}

.green {
    color: green;
}

.red {
    color: red;
}

#profileLink img {
    margin-top: -5px;
}

#profileLink ul li {
    margin-left: 0;
    padding: 6px;
}

#profileLink ul li span {
    margin-right: 5px;
}

#profileLink {
    z-index: 99;
}

#profileLink ul {
    list-style: none;
    padding-left: 0;
    /*width: 120px;*/
    font-size: 110%;
}

ul.dropdown-menu {
    z-index: 1000;
}

ul.nav li a.navbar-brand, #profileLink a.main {
    color: #ccc;
}

.nav .open > a.btn-inverse {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
    opacity: 1;
}

.nav a.btn-inverse {
    opacity: 0.9;
}

div.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

div.danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

div.info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

#siteLang {
    cursor: pointer;
}

.siteInfos {
    text-align: right;
}

a.no-show {
    color: black;
}

ul.nav li a.true, ul.nav li a.true:hover, #profileLink a.main:hover {
    color: white !important;
}

.navbar {
    border-radius: 0px !important;
    border: none !important;
}

.overlayBackground {
    top: 50px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    z-index: 1000;
    width: 100%;
    opacity: 0.5;
    background: #000000 url('../img/loader.gif') center no-repeat;
}

.article {
    line-height: 1.75;
    font-size: 16px;
    text-align: justify;
}

.article h1 {
    margin-bottom: 30px;
}

.article h2 {
    font-size: 27px;
    margin: 25px 0 12px 0;
}

.article img.right {
    margin: 35px 0 35px 85px;
    float: right;
}

.article div.benefits-opinions {
    margin-top: 45px;
}

.navbar-inverse {
    background-color: #39434F !important;
}

.container-full .jumbotron {
    background-color: #EBECED;
    padding: 58px 0 50px 0;
}

hr.featurette-divider {
    margin: 39px 0;
}

table thead tr th {
    text-transform: capitalize;
}

div.social a {
    margin-left: 6px;
    text-decoration: none;
}

div.social a img {
    border: 0;
    width: 32px;
    height: 32px;
}

.profilead {
    /*width: 100%;*/
    height: 150px;
    float: right;
    margin-top: 23px;
}

.hoverable img {
    transition: all 1s ease;
    border-radius: 7px;
    border: 4px red;
}

.hoverable img:hover {
    opacity: 0.8;
}

div.alert-danger {
    filter: none !important;
}

#write.typing-well {
    filter: blur(7px);
}

#answercontainer input.answer[disabled] {
    background: white !important;
}