@CHARSET "UTF-8";

#text {
    background-color: #eee;
    padding: 15px;
    border-radius: 12px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#text .progress {
    height: 4px;
    margin-top: 6px;
    margin-bottom: 4px;
}

#text .progress-bar {
    height: 4px;
}

#text .task {
    font-family: monospace;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    width: 999999px;
    display: inline-block;
    height: 37px;
}

#text .done {
    text-align: right;
    float: right;
    margin-right: 60%;
    white-space: pre;
}

#text .todo {
    margin-left: 40%;
    float: left;
    margin-top: -37px;
    white-space: pre;
}

#text .textToShow {
    float: right;
    color: red;
    margin-top: -37px;
    white-space: pre;
}

#text .taskcontainer {
    overflow: hidden;
    width: 100%;
    padding: 8px 8px 8px 7px;
}

#text .taskwrapper {
    margin-left: -6px;
}

#text input.answer {
    font-family: monospace;
    font-size: 26px;
    border: none;
    padding: 8px 2px 8px 0;
    text-align: right;
    min-width: 9999999px;
    float: right;
}

#text input.answer::-ms-clear {
    /* remove x for ie */
    display: none;
}

#text #answercontainer {
    width: 100%;
    margin-top: 8px;
    border-radius: 6px;
    border: none;
    background: white;
    overflow: hidden;
    padding-right: 60%;
    cursor: text;
}

#text #answercontainer.true, #text #answercontainer input.answer[disabled] {
    background: rgb(235, 235, 228);
}

#controls {
    width: 100%;
    padding-bottom: 7px;
}

#controls .stats {
    float: right;
    height: 30px;
    padding-top: 5px;
}

#controls .stats label {
    font-weight: normal;
}

#controls .stats div {
    display: inline-block;
    border-right: 1px solid grey;
    padding-right: 10px;
    padding-left: 6px;
}

#keyboard {
    height: 410px;
    margin-top: 20px;
}

div.writeInfo {
    margin-top: 20px;
}

#keyboard div.hands {
    min-width: 600px;
    max-width: 74%;
    margin: 0 auto;
}

#keyboard div.hands div {
    height: 410px;
    width: 300px;
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#keyboard div.rightMarkers {
    text-align: right;
    float: right;
}

#keyboard div.rightMarkers div {
    position: absolute;
}

#keyboard div.leftMarkers {
    position: absolute;
}

#keyboard div.leftMarkers div {
    position: absolute;
}

#keyboard div.left {
    background-image: url('../img/left_hand.png');
    display: block !important;
}

#keyboard div.right {
    float: right;
    background-image: url('../img/right_hand.png');
    position: relative !important;
    display: block !important;
}

#keyboard div.l1 {
    background-image: url('../img/left_1.png');
}

#keyboard div.l2 {
    background-image: url('../img/left_2.png');
}

#keyboard div.l3 {
    background-image: url('../img/left_3.png');
}

#keyboard div.l4 {
    background-image: url('../img/left_4.png');
}

#keyboard div.l5 {
    background-image: url('../img/left_5.png');
}

#keyboard div.r1 {
    background-image: url('../img/right_1.png');
}

#keyboard div.r2 {
    background-image: url('../img/right_2.png');
}

#keyboard div.r3 {
    background-image: url('../img/right_3.png');
}

#keyboard div.r4 {
    background-image: url('../img/right_4.png');
}

#keyboard div.r5 {
    background-image: url('../img/right_5.png');
}

#configurations {
    display: inline-block;
}

.config-display {
    font-size: 11px;
}

.sides-padded-6 {
    margin: 0 6px;
}

button.btn-default.letter-added {
    background-color: #E5F5D4;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    -webkit-transition: background-color 1000ms linear;
}

button.btn-default.letter-removed {
    background-color: #F5E4E4;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    -webkit-transition: background-color 1000ms linear;
}

button.btn-default.remove {
    background-color: inherit;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    -webkit-transition: background-color 1000ms linear;
}