<h1>Los beneficios de mecanografía</h1>
<p>Para aprender mecanografía hay que ser sistemático y dedicar decenas de horas para el entrenamiento. Al tipear
    mirando el
    teclado el progreso so nota antes, pero después de algún tiempo ya no es posible todavía aumentar la velocidad.</p>
<p>
    Hay que notar, que
    <b>no es posible olvidar mecanografía,</b>
    una vez se la domina - nunca más tendrás que ver el teclado para encontrar la tecla que necesitas. Cada uno puede
    ser "El maestro" al teclado -
    <b>lo esencial es la motivación.</b>
</p>

<img src="img/stopwatch.png" class="img-responsive right" alt="mecanografía es un ahorro del tiempo"/>
<h3>Ahorro del tiempo</h3>
<p>Aprender la técnica de escritura al tacto te hará ahorrar un montón del tiempo, sobre todo si trabajas con el
    ordenador profesionalmente. Escribirás más rápidamente sin necesidad de corregir errores constantemente -
    normalmente serás
    más rápido que 80 palabras por minuto. Lograr esta velocidad usando el método tradicional <i>caza y picotear</i> es
    simplemente imposible, lo máximo aquí es 30 palabras por minuto. Eso quiere decir, que al trabajar con ordenador
    puedes hacer tu trabajo entre dos hasta tres veces más rápido que antes.</p>

<h3>Comodidad y concentración</h3>
<p>Una ventaja muy importante de mecanografía es la comodidad al teclado. Puedes estar escribiendo a la vez que estás
    leyendo otro texto. Con habilidad en teclado podrás centrar tu mente en expresar pensamientos en lugar de buscar
    dónde se sitúan las teclas.</p>

<h3>Salud</h3>
<p>Al tipear natural y eficientemente con leves movimientos de dedos y no tener que mirar el teclado eliminará la
    tensión de sus manos, brazos y nuca. Los mejores resultados vas a lograr usando teclado ergonómico, que todavía
    ayude a mantener la posición propia y así limite el cansancio y el riesgo de los afecciones.</p>

<h3>Situación en el mercado laboral</h3>
<p>Para un montón de los puestos del trabajo se requiere por lo menos las habilitades básicas de manejar el ordenador.
    Desde hace algunos 10-15 años cada vez más empleadores pone la atención a la rapidez y precisión al teclado de los
    candidatos. Añade mecanografía en tu CV y así abre nuevas oportunidades en el mercado laboral.</p>


