<h1>Touch typing benefits</h1>
<p>To learn touch typing you need the regularity and the investment of several dozen hours in the training. A hunt and
    peck
    typist normally spots the effects much sooner, but after some time he can't further improve his typing speed.</p>
<p>
    Note that
    <b>you will never forget your touch typing skills</b>
    - if you learn it once, you will never again have to look at the keyboard to find the letter you want to type.
    Everybody may
    became the typing master -
    <b>the motivation is crucial.</b>
</p>

<img src="img/stopwatch.png" class="img-responsive right" alt="touch typing saves the time"/>
<h3>Time savings</h3>
<p>
    The first and most obvious benefit of learning to touch type is going to be the time saving in a long run.
    Especially if you work
    professionally using the computer. While a hunt and peck typist would be hard pressed to reach 30 words per minute,
    touch typist
    can easily reach typing speeds above 80 words per minute, maintaining high accuracy. So working at the computer you
    will need
    from twice to three times less time than before to realize the same tasks!
</p>

<h3>Comfort and focus</h3>
<p>Next great touch typing benefit is the work comfort. Accomplished touch typist doesn’t have to look at the keyboard.
    It is
    difficult to type something while reading it if you have to look down at the keyboard every other stroke to find
    your next key.
    Typing takes place automatically, all you have to worry about is your output, not finding the individual keys.</p>

<h3>Health</h3>
<p>Overall, touch typing is better for your health. Learning to touch type properly reduces both mental and physical
    fatigue.
    You’re not hunched over looking at the keys, and using all of your fingers actually reduces the risk for repetitive
    stress
    injuries. Physically, it keeps you from constantly having to bend your head over the keyboard to find your next
    couple of
    keystrokes.</p>

<h3>Better job opportunities</h3>
<p>A lot of jobs require at least the most basic computer skills, even jobs that 10 or 15 years ago did not. More and
    more
    employers are looking at a candidate’s typing skills as a prerequisite for the job, not as an optional skill. Adding
    touch typing
    to your arsenal you will make an impression of being the professional, just on the first glimpse. This opens a world
    of job
    opportunities to you.</p>



