<h1>Korzyści z umiejętności szybkiego pisania bezwzrokowego</h1>
<p>Aby nauczyć się pisania bezwzrokowego konieczna jest systematyczność i poświęcenie kilkudziesięciu godzin na trening.
    Przy
    pisaniu sterowanym wzrokiem efekt nauki dostrzegalny jest wcześniej, ale już po krótkim czasie nie można osiągnąć
    dalszej poprawy
    szybkości.</p>
<p>
    Warto dodać, że
    <b>umiejętności pisania bezwzrokowego się nie zapomina</b>
    - jeśli raz się tego nauczysz, nigdy więcej nie będziesz już musiał patrzeć na klawiaturę, aby znaleźć literę, którą
    chcesz
    napisać. Każdy może zostać mistrzem klawiatury -
    <b>kluczowa jest motywacja.</b>
</p>

<img src="img/stopwatch.png" class="img-responsive right" alt="pisanie bezwzrokowe to oszczędność czasu"/>
<h3>Oszczędność czasu</h3>
<p>Trzeba pamiętać, że umiejętność szybkiego pisania to w dłuższej perspektywie przede wszystkim olbrzymia oszczędność
    czasu,
    zwłaszcza jeśli zawodowo pracujesz przy komputerze. Przy pisaniu sterowanym wzrokiem nie jest możliwe przekroczenie
    30 słów na
    minutę, podczas gdy pisząc bezwzrokowo łatwo można osiągnąć prędkość ponad 80 słów na minutę, jednocześnie
    utrzymując dużą
    dokładność. To znaczy, że pracując przy komputerze potrzebujesz od dwóch do trzech razy mniej czasu na wykonanie tych
    samych zadań!</p>

<h3>Komfort i koncentracja</h3>
<p>Olbrzymią korzyścią, płynącą z umiejętności pisania bezwzrokowego, jest większy komfort pracy. Pisząc na komputerze
    można
    jednocześnie śledzić wynik na monitorze, a przy przepisywaniu nie trzeba odrywać wzroku od przepisywanego tekstu.
    Samo pisanie
    jest automatyczne i nie wymaga koncentracji na naciskaniu każdego klawisza.</p>

<h3>Zdrowie</h3>
<p>Pisząc bezwzrokowo nie trzeba pochylać się nad klawiaturą, aby znaleźć odpowiednie klawisze oraz zachowuje się
    naturalne
    ułożenie nadgarstków. Dzięki temu łatwiej utrzymać prawidłową sylwetkę, w tym proste plecy, zwłaszcza, gdy używa się
    klawiatury
    ergonomicznej. Znacznie obniża to ryzyko chorób pracowników biurowych, takich, jak na przykład bóle w szyjnym odcinku kręgosłupa
    zespół cieśni nadgarstka.</p>

<h3>Pozycja na rynku pracy</h3>
<p>Do wykonywania wielu zawodów wymaga się przynajmniej podstawowych umiejętności obsługi komputera, nawet jeśli jeszcze
    kilkanaście lat temu nie były one potrzebne. Coraz większa liczba pracodawców zwraca uwagę na umiejętności pisania
    na klawiaturze
    posiadane przez kandydatów. Dodaj pisanie bezwzrokowe do swojego CV, pisz bezwzrokowo i już na pierwszy rzut oka
    sprawiaj
    wrażenie profesjonalisty w swoim fachu.</p>

