<h1>Como aprender mecanografía</h1>

<p>
    Abajo se muestra la posición básica de los dedos en el QWERTY teclado. Con los colores diferentes se marca las
    teclas para los dedos diferentes. Hay que siempre respetar estas reglas y
    <b>nunca teclear usando el dedo incorrecto,</b> otro que se muestra abajo.
</p>
<img src="img/touch-typing-fingers.png" class="img-responsive right" alt="Posición de los manos al mecanografiar"/>
<p>Todos los teclados tienen en las teclas F y J un signo pequeño, que permite les encontrar y así mantener la
    orientación en el teclado.</p>
<p>
    <b>Evita a mirar el teclado </b>
    – mecanografía al tacto significa escribir a través de la memoria muscular. Intenta aprender de memoria donde se
    sitúan las
    teclas que necesitas pulsar. Si en algún momento no sabes dónde está la letra que necesitas, para por un momento y
    piensa en eso en vez de pulsar todas las teclas buscando la suerte. Al principio la precisión es lo más importante.
</p>

<h3>El proceso del aprendizaje</h3>
<p>
    Al aprender a teclear con TouchTyping.guru se muestra el dedo con el que debes teclear la letra siguiente.
    Empieces
    escribiendo las palabras que se consisten de solo las cuatro letras más usadas en el idioma. Si estas bastante
    rápido y exacto
    <b>la aplicación añade más letras automáticamente.</b>
</p>
<p>Tú también puedes añadir más letras, pero si no tienes experiencia con mecanografía no se recomienda esta solución.
    En la
    medida de lo posible la aplicación intenta producir las palabras que contienen la letra que se ha añadido
    últimamente y las
    letras que antes has intentado escribir con error.</p>

<h2>Práctica en mecanografía</h2>
<p>Si ya sabes tipear con todos los dedos todas las letras sin mirar el teclado, pero tu velocidad todavía no es la mejor, debes escribir
    algunos tests. Será bien, si la opción que es responsable de fijar en las letras que una vez has escrito mal, sea
    activa.</p>
<p>
    Es posible configurar el test así que se generan solo
    <b>las palabras más frecuentemente usadas en el idioma.</b>
    Practicando con ellos te permitirá aumentar tu velocidad al teclado de la manera eficaz. Se nota, que la aplicación
    lo hace
    posible cometer un error sin corregirle. Más errores no se van a agregar automáticamente, pues no es necesario
    corregir cada
    error que haces.
</p>

<h3>Competición</h3>
<p>Te recomendamos también tomar parte en las competiciones en mecanografía, donde todos los participantes escriben el
    mismo
    texto. Los usuarios crean las competiciones configurando el idioma del texto, el tiempo y la selección de las
    palabras. El texto
    de la competición se puede escribir varias veces, que en muchos casos permite mejorar el resultado con cada
    prueba.</p>
<p>La competición es una motivación adicional, sobre todo cuando rivalizas con tus amigos.</p>
<p class='pull-right'>¡Que sigas bien!</p>

