<h1>How to learn touch typing</h1>

<p>
    The below image shows the basic position of fingers on the QWERTY keyboard. Always follow these rules and
    <b>never type the letter using incorrect finger,</b>
    that means other than shown below.
</p>
<img src="img/touch-typing-fingers.png" class="img-responsive right" alt="Hands position when touch typing"/>
<p>All keyboards have on the letters F and J little characteristic spot that makes it possible to find them without
    looking at
    the keyboard. They will help you to keep the orientation on the keyboard.</p>
<p>
    <b>Avoid looking at the keyboard</b>
    – touch typing means typing without using the sense of sight to find the keys, a touch typist will know their
    location on the
    keyboard through muscle memory. So try to memorize these locations, if you don't know where is the letter you are
    about to type,
    slow down, and think about it. Don't press multiple keys hoping to find the right one. At the beginning focus on
    typing accuracy,
    not speed.
</p>
<h3>Learning process</h3>
<p>
    When learning on TouchTyping.guru it shows which fingers should be used to type the next letter. You start typing
    words that
    consist only of four letters - the letters that are most used in given language. If you're quick and accurate
    enough,
    <b>the application automatically adds new letters.</b>
</p>
<p>You can also add letters yourself. We don't recommend though doing this if you have never studied touch typing
    before. As
    much as possible the application takes care to generate words that contain the last added letter and the ones that
    you have low
    performance with.</p>

<h2>Mastering your typing skills</h2>

<p>If you already can type all letters without looking at the keyboard, but your typing speed still isn't satisfactory,
    you
    should spend some time typing tests. It would be good to switch on the option responsible for putting focus on the
    letters that
    you have most problems to type correctly.</p>
<p>
    It's possible to configure the test so that only
    <b>most frequently used words of the language</b>
    are returned. Practicing on them will let you improve your typing speed most effectively. Notice, that the
    application allows to
    commit one typing mistake - leaving it without correction will not treat all the letters written then as mistakes.
    So you don't
    need to fix every mistake you commit.
</p>

<h3>Typing competitions</h3>
<p>We recommend taking part in touch typing competition, where all the uses write the same text. The competitions are
    created
    by users, with the configuration of their choice. You can write the text of the competitions more than once. This
    allows to
    improve the performance with every try.</p>
<p>So the competitions should be your motivation too, especially if you compete against your friends. Invite them and
    check
    who is your local typing master.</p>
<p class='pull-right'>Good luck!</p>
