<h1>Jak uczyć się szybkiego pisania bezwzrokowego</h1>

<p>
    Poniższy rysunek przedstawia podstawową pozycję palców na klawiaturze QWERTY oraz zasady palcowania. Należy
    bezwzględnie
    przestrzegać tych zasad i
    <b>nigdy nie naciskać liter niewłaściwym palcem,</b>
    tzn. innym, niż ten pokazany poniżej.
</p>
<img src="img/touch-typing-fingers.png" class="img-responsive right" alt="ułożenie dłoni przy pisaniu bezwzrokowym"/>
<p>Na wszystkich klawiaturach znajdziemy na klawiszach F i J małe, ale wyczuwalne wzniesienie, umożliwiające bezwzrokowe
    ich
    znalezienie i orientację na klawiaturze.</p>
<p>
    Należy
    <b>unikać spoglądania na klawiaturę</b>
    – pisanie bezwzrokowe to pisanie z wykorzystaniem pamięci motorycznej (pamięci mięśniowej). Próbuj zapamiętać
    położenie każdej
    litery. Jeśli od razu nie wiesz, gdzie ona leży, to zatrzymaj się i zastanów, zamiast naciskać wiele klawiszy, w
    nadziei, że
    trafisz. Zacznij od precyzji pisania.
</p>

<h3>Proces nauki</h3>
<p>
    Podczas nauki na TouchTyping.guru na bieżąco wskazywany jest palec, którym należy napisać następną literę. Naukę
    zaczynasz, pisząc
    wyrazy składające się tylko z czterech, najczęściej występujących w języku liter. Gdy jesteś wystarczająco szybki i
    dokładny
    program
    <b>automatycznie dodaje nowe litery.</b>
</p>
<p>Litery można dodać też samemu. Nie polecamy tego rozwiązania, jeśli nie uczyłeś się wcześniej. W miarę możliwości
    program
    dba też o to, żeby wyrazy zawierały jak najczęściej literę, która została ostatnio dodana oraz te litery, które
    napisałeś
    wcześniej błędnie.</p>

<h2>Doskonalenie umiejętności pisania bezwzrokowego</h2>
<p>Jeśli potrafisz już napisać bez patrzenia na klawiaturę wszystkie litery, a prędkość twojego pisania dalej nie jest
    satysfakcjonująca, powinieneś poświęcić czas na napisanie kilku testów. Dobrze, aby opcja, która odpowiada za
    położenie nacisku na
    błędnie napisane litery, była włączona.</p>
<p>
    Test można skonfigurować tak, aby program dyktował tylko
    <b>najpopularniejsze słowa z danego języka.</b>
    Ćwiczenie na nich pozwoli najefektywniej podnieść prędkość twojego pisania. Zauważ, że program dopuszcza możliwość
    popełnienia
    jednego błędu i jeśli go nie poprawisz, to nie nalicza lawinowo następnych błędów – nie ma konieczności wracania do
    każdej
    błędnie napisanej litery.
</p>

<h3>Zawody w pisaniu</h3>
<p>Polecamy też wzięcie udziału w zawodach w pisaniu bezwzrokowym, gdzie wszyscy uczestnicy piszą ten sam tekst. Zawody
    są
    tworzone przez użytkowników według wybranej przez nich konfiguracji. Tekst danych zawodów można napisać kilka razy,
    co często
    pozwala zauważyć poprawę, z każdą kolejną próbą.</p>
<p>Zawody to zatem dodatkowa motywacja, szczególnie jeśli rywalizujesz ze znajomymi. Zaproś znajomych i sprawdź, kto jest
    prawdziwym mistrzem klawiatury.</p>
<p class='pull-right'>Powodzenia!</p>
