<div class="container" id="falling-letters">


    <div id="controls">
        <div id="configurations">
			<span ng-controller="ModalLangController">
				<button type="button" class="btn btn-default btn-sm" ng-click="open()">
                    <span class="glyphicon glyphicon-globe"></span>
                    {{ 'LANGUAGE' | translate }}
                    <img class="flag16" ng-src="{{config.lang ? './img/16/'+config.lang+'.png' : ''}}"/>
                </button>
			</span>
			<span ng-controller="ModalTypingOptionsController">
				<button type="button" class="btn btn-default btn-sm {{letterChangeClass}}" ng-click="open('game')">
                    <span class="glyphicon glyphicon-cog"></span>
                    {{ 'CONFIGURATION' | translate }}
                    <span class="config-display text-muted">{{config | gameConfigDisplay}}</span>
                </button>
			</span>
            <button type="button" class="btn btn-default btn-sm" ng-click="reload()">
                <span class="glyphicon glyphicon-repeat"></span>
                {{ 'RESTART' | translate }}
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="startHelpTour()">
                <span class="glyphicon glyphicon-question-sign"></span>
                {{ 'HELP' | translate }}
            </button>
        </div>
        <div id="stats" class="stats">
            <div>
                <label>{{ 'ACCURACY' | translate }}&nbsp;</label>
                <label>{{game.line.stats.accuracy}}%</label>

            </div>
            <div>
                <label>{{ 'WPM' | translate }}&nbsp;</label>
                <label>{{game.line.stats.wpm}}</label>
            </div>
        </div>

    </div>


    <div id="text" class="game">
        <div id="falling-letters">
            <div id="falling-letters-container">
				<span ng-repeat="letter in letters" id="{{letter.id}}" class="letter"
                      style="margin-top:{{letter.y}}px; margin-left:{{letter.x}}px">{{letter.value}} </span>

                <div ng-if="!started" id="start-command">Press Enter to start.</div>
            </div>
        </div>
        <progressbar value="100-game.line.stats.progress" type="success"></progressbar>
    </div>
    <!-- <div class="pull-right" ng-class="levelChangeClass">Current level: {{game.level}}</div>-->
    <div class="writeInfo">
        <div ng-if="finished" class="col-md-6">
            <typing-summary></typing-summary>
        </div>
        <div ng-if="finished" class="col-md-6 text-center">
            <googlead slot="1327960336"></googlead>
        </div>
    </div>
</div>