<div class="container" id="write" ng-intro-options="introOptions" ng-intro-method="startHelpTour"
     ng-intro-oncomplete="focusInput"
     ng-intro-onexit="focusInput">

    <div id="controls">
        <div id="configurations">
            <button type="button" class="btn btn-default btn-sm" ng-click="reload()">
                <span class="glyphicon glyphicon-repeat"></span>
                {{ 'RESTART' | translate }}
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="doStartHelpTour()">
                <span class="glyphicon glyphicon-question-sign"></span>
                {{ 'HELP' | translate }}
            </button>
        </div>

        <div id="stats" class="stats">
            <div>
                <label>{{ 'ACCURACY' | translate }}&nbsp;</label>
                <label>{{line.stats.accuracy}}%</label>
            </div>
            <div>
                <label>{{ 'WPM' | translate }}&nbsp;</label>
                <label>{{line.stats.wpm}}</label>
            </div>
        </div>

    </div>

    <writing></writing>

    <div class="writeInfo">

        <div ng-if="finished" class="col-md-6">
            <typing-summary></typing-summary>
        </div>

        <div id="positionInCompetition" class="col-md-6" style="float:{{finished?'right':'left'}}">
            <positions></positions>
        </div>

        <div class="col-md-6 text-center">
            <aaddss slot="box"></aaddss>
        </div>

    </div>
</div>
