<div id="competitions" class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{'COMPETITIONS'|translate}}</div>
                <div class="panel-body">{{'COMPETITIONS_INFO'|translate}}</div>
            </div>
            <div>
                <googleadelastic></googleadelastic>
            </div>
        </div>
        <div class="col-md-9">

            <tabset>
                <tab>
                    <tab-heading><i class="glyphicon glyphicon-log-in"></i>
                        {{'COMPETITION_JOIN'|translate}}
                    </tab-heading>

                    <table class="table table-hover competitions">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{{'CONFIGURATION'|translate}}</th>
                            <th>{{'USERS'|translate}}</th>
                            <th>{{'APPROACHES'|translate}}</th>
                            <th>{{'BEST_RESULT'|translate}}</th>
                            <th>{{'FINISH'|translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="competition in competitions">
                            <td>
                                <img tooltip="{{competition.lang | langName}}"
                                     ng-src="./img/24/{{competition.lang}}.png"
                                     alt="{{competition.lang}}"/>
                            </td>
                            <td>
                                {{competition.typing_minutes | durationInMinutes}},
                                {{competition.typing_words|writeConfig}}
                                {{'WORDS'|translate}}
                            </td>
                            <td>{{competition.users}}</td>
                            <td>{{competition.approaches}}</td>
                            <td>{{competition.best_result}}</td>
                            <td>
                                <span tooltip="{{competition.end_time | competitionEndToCalendar}}">{{competition.end_time | competitionEndFromNow}}</span>
                            </td>
                            <td>
                                <button class="btn btn-default btn-sm" ng-click="joinCompetition(competition.id)">
                                    <span class="glyphicon glyphicon-play"></span>
                                    {{'JOIN'|translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
                <tab disabled="{{newCompetitionOff}}">
                    <tab-heading><i class="glyphicon glyphicon-plus"></i>
                        {{'COMPETITION_NEW'|translate}}
                    </tab-heading>

                    <div class="options">
                        <alert type="warning">{{'COMPETITION_WARN'|translate}}</alert>
                        <div class="option" ng-controller="ModalLangController">
                            <b class="col-md-3">Language</b>
                            <button type="button" class="btn btn-default" ng-click="open()">
                                <span class="glyphicon glyphicon-globe"></span>
                                {{'CHANGE'|translate}}
                            </button>
					<span>
						<img class='flag' ng-src="{{config.lang ? './img/24/'+config.lang+'.png' : ''}}"/>
						{{config.lang | langName}}
					</span>
                        </div>
                        <div class="option" ng-controller="ModalTypingOptionsController">
                            <b class="col-md-3">Configuration</b>
                            <button type="button" class="btn btn-default" ng-click="open('competition')">
                                <span class="glyphicon glyphicon-cog"></span>
                                {{'CHANGE'|translate}}
                            </button>
                            <span>
                                {{'MINUTES'|translate}}:
                                <b>{{config.write_minutes}}</b>
                                , {{'WORDS'|translate}}:
                                <b>{{config.write_config|writeConfig}}</b>
                            </span>
                        </div>
                        <div class="option">
                            <b class="col-md-3">Privacy</b>
                            <button type="button" class="btn btn-default" ng-model="config.private_competition"
                                    ng-click="config.private_competition=!config.private_competition">
                                <span class="glyphicon glyphicon-eye-{{config.private_competition?'close':'open'}}"></span>
                                {{'CHANGE'|translate}}
                            </button>
					<span ng-switch on="config.private_competition">
						<span ng-switch-when="true">
							<b>{{'PRIVATE'|translate}}</b>
							{{'PRIVATE_INFO'|translate}}
						</span>
						<span ng-switch-default>
							<b>{{'OPEN'|translate}}</b>
							{{'OPEN_INFO'|translate}}
						</span>
					</span>
                        </div>
                        <div class="option">
                            <button type="button" class="btn btn-primary pull-right" ng-click="createCompetition()">
                                <span class="glyphicon glyphicon-plus"></span>
                                {{'CREATE_COMPETITION'|translate}}
                            </button>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>