<div class="container" id="dashboard">

    <div class="dashboardHeader">
        <div class="col-md-6">
            <div>
			<span class="thumbnail userfoto">
				<label for="changeImage">
                    <img ng-src="{{user.picture}}" style="height: 100px; width: 100px;"
                         tooltip="{{'PICTURE_CLICK_INFO'|translate}}"
                         tooltip-trigger="mouseenter"
                         class="pointed"/>
                </label>
				<input id="changeImage" type="file" accept="image/*" image="newPicture" resize-max-height="100"
                       resize-max-width="100"
                       resize-quality="0.9"/>
			</span>
            </div>
            <div>
                <h2>
				<span ng-show="user.can_change_nick" editable-text="user.nick" e-maxlength="30"
                      tooltip="{{'NICK_CLICK_INFO'|translate}}"
                      tooltip-trigger="mouseenter">{{user.nick}}</span>
                <span ng-hide="user.can_change_nick" tooltip="{{'NICK_CLICK_INFO_CANT'|translate}}"
                      tooltip-trigger="click">{{user.nick}}</span>
                </h2>
			<span class="text-muted">
				{{'JOINED'|translate}}
				<span>{{user.joined | fromNow}}</span>
			</span>
            </div>
        </div>
        <div class="profilead col-md-6">
            <googleadelastic></googleadelastic>
        </div>

        <h3 class="sub-header">
            {{'TYPING_HISTORY' | translate}}
			<span class="text-muted dashboardOptions">
				<span ng-repeat="mode in modes">
					<input class="opt" type="checkbox" value="{{mode.value}}" ng-model="mode.selected"
                           ng-change="loadSummary()"/>
					{{mode.name}}
				</span>
			</span>
        </h3>

    </div>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-2">
            <h4>{{summary.approaches}}</h4>
            <span class="text-muted">{{'TIMES_TYPED' | translate}}</span>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h4>{{summary.time_typing|durationInMinutes}}</h4>
            <span class="text-muted">{{'SPENT_TYPING' | translate}}</span>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h4>{{summary.words_typed}}</h4>
            <span class="text-muted">{{'WORDS_TYPED' | translate}}</span>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h4>{{summary.avg_accuracy}} %</h4>
            <span class="text-muted">{{'AVERAGE_ACCURACY' | translate}}</span>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h4>{{summary.avg_wpm}} {{'WPM' | translate}}</h4>
            <span class="text-muted">{{'AVERAGE_SPEED' | translate}}</span>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h4>{{summary.best_wpm}} {{'WPM' | translate}}</h4>
            <span class="text-muted">{{'BEST_SPEED' | translate}}</span>
        </div>
    </div>

    <div class="row">
        <div google-chart chart="chart" id="chart"></div>
        <googleadelastic></googleadelastic>
    </div>

    <h3 class="sub-header">{{'COMPETITIONS_HISTORY' | translate}}</h3>

    <div class="row placeholders">

        <div class="col-xs-6 col-sm-2">
            <div class="positionsHistory">
                <h3>{{competitionPositionsHistory[0]}}</h3>
                <span class="text-muted">{{'COMPETITIONS_WON' | translate}}</span>
            </div>
            <div class="positionsHistory">
                <h4>{{competitionPositionsHistory[1]}}</h4>
                <span class="text-muted">{{'TIMES_SECOND_POSITION' | translate}}</span>
            </div>
            <div class="positionsHistory">
                <h4>{{competitionPositionsHistory[2]}}</h4>
                <span class="text-muted">{{'TIMES_THIRD_POSITION' | translate}}</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-9 competitionsHistory">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>{{'CONFIGURATION'|translate}}</th>
                    <th>{{'APPROACHES'|translate}}</th>
                    <th>{{'YOUR_BEST_RESULT'|translate}}</th>
                    <th>{{'RANK'|translate}}</th>
                    <th>{{'FINISH'|translate}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="competition in competitionHistory">
                    <td>
                        <img tooltip="{{competition.lang | langName}}" ng-src="./img/24/{{competition.lang}}.png"/>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-eye-{{competition.private_key | openClosedCompetition}}"></span>
                        {{competition.typing_minutes | durationInMinutes}}, {{competition.typing_words}}
                        {{'WORDS'|translate}}
                    </td>
                    <td>{{competition.approaches}}</td>
                    <td>{{competition.best_result}}</td>
                    <td>
                        <b>{{competition.rank}}</b>
                    </td>
                    <td>
                        <span tooltip="{{competition.end_time | competitionEndToCalendar}}">{{competition.end_time | competitionEndFromNow}}</span>
                    </td>
                    <td>
                        <button ng-if="competition.is_active" class="btn btn-default btn-xs"
                                ng-click="joinCompetition(competition.id, competition.private_key)">
                            <span class="glyphicon glyphicon-play"></span>
                            {{'IMPROVE'|translate}}
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</div>
