<div id="login" class="container">

    <div class="col-md-6 clients">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>{{'CONNECT_APPS_TITLE'|translate }}</h4>

                <div class="text-muted">{{'CONNECT_APPS_INFO'|translate }}</div>
                <div class="connectBtn">
                    <button class="btn btn-primary" ng-click="loginWith('facebook')">{{'CONNECT_WITH'|translate }}
                        Facebook
                    </button>
                </div>
                <div class="connectBtn">
                    <button class="btn btn-primary btn-danger" ng-click="loginWith('google')">{{'CONNECT_WITH'|translate
                        }} Google
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-6 clients">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>{{'CONNECT_EMAIL_TITLE'|translate }}</h4>

                <div class="text-muted">{{'CONNECT_EMAIL_INFO'|translate }}</div>

                <form ng-submit="loginWithEmail()">
                    <input type="email" name="email" type="text" placeholder="{{'CONNECT_EMAIL_TITLE'|translate }}"
                           ng-model="email" class="login-with-email form-control" ng-minlength="4" required
                           pattern=".{4,130}">
                    <div class="connectBtn">
                        <button class="btn btn-primary btn-success" type="submit">
                            {{'CONNECT_WITH'|translate}} {{'EMAIL'|translate }}
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>