<div class="jumbotron">
    <div class="container">
        <h1 translate>HEADLINE_TOP</h1>
        <summary translate>HEADLINE</summary>
        <p>
            <a class="btn btn-primary btn-lg" role="button" href="{{learnUrl}}">{{'LEARN_MORE'|translate}} &raquo;</a>
        </p>
    </div>
</div>

<div class="container main-page">


    <div class="row featurette" id="knowMore">
        <div class="col-md-6">
            <p class="lead" translate>EXPLANATION</p>
        </div>
        <div class="col-md-6 video">
            <iframe height="320px" width="100%" src="https://www.youtube.com/embed/Yq0d5AI2TMg?rel=0&amp;showinfo=0"
                    frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="col-md-12 opinions">
            <div class="col-md-2 opinionAvatar">
                <img src="img/front/office.jpg" alt="clerk" class="img-circle">
            </div>
            <div class="col-md-10">
                <blockquote>
                    <p class="opinion">{{'OPINION_1'|translate}}</p>
                    <footer>{{'OPINION_1_WHO'|translate}}</footer>
                </blockquote>
            </div>

            <div class="col-md-2 opinionAvatar">
                <img src="img/front/doctor.jpg" alt="doctor" class="img-circle">
            </div>
            <div class="col-md-10">
                <blockquote>
                    <p class="opinion">{{'OPINION_2'|translate}}</p>
                    <footer>{{'OPINION_2_WHO'|translate}}</footer>
                </blockquote>
            </div>

            <div class="col-md-2 opinionAvatar">
                <img src="img/front/programmer.jpg" alt="programmer" class="img-circle">
            </div>
            <div class="col-md-10">
                <blockquote>
                    <p class="opinion">{{'OPINION_3'|translate}}</p>
                    <footer>{{'OPINION_3_WHO'|translate}}</footer>
                </blockquote>
            </div>
        </div>
    </div>


    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-4">
            <h2>
                <a href="{{learnUrl}}">{{'LEARN'|translate}}</a>
            </h2>

            <p class="feature">{{'LEARN_DESC'|translate}}</p>

            <p>
                <a class="btn btn-default" href="{{learnUrl}}" role="button">{{'CHECK_IT_OUT'|translate}} &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                <a href="{{writeUrl}}">{{'WRITE'|translate}}</a>
            </h2>

            <p class="feature">{{'WRITE_DESC'|translate}}</p>

            <p>
                <a class="btn btn-default" href="{{writeUrl}}" role="button">{{'CHECK_IT_OUT'|translate}} &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                <a href="{{competitionsUrl}}">{{'COMPETITIONS'|translate}}</a>
            </h2>

            <p class="feature">{{'COMPETITIONS_DESC'|translate}}</p>

            <p>
                <a class="btn btn-default" href="{{competitionsUrl}}"
                   role="button">{{'CHECK_IT_OUT'|translate}} &raquo;</a>
            </p>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12">
            <h3 class="featurette-heading">{{'WHY_US'|translate}}</h3>

            <div class="lead">
                <div class="col-md-6">
                    <ul class="advantages" translate>WHY_US_TEXT</ul>
                </div>
                <div class="col-md-6 fbbox">
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ftouchtyping.guru&amp;width=565&amp;height=395&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=745433225525211"
                            scrolling="no" frameborder="0"
                            style="border:none; overflow:hidden; width:565px; height:395px;"
                            allowTransparency="true"></iframe>
                </div>
            </div>
        </div>
    </div>


</div>
