<div class="container" id="write" ng-intro-options="introOptions" ng-intro-method="startHelpTour"
     ng-intro-oncomplete="focusInput"
     ng-intro-onexit="focusInput">

    <div id="controls">
        <div id="configurations">
			<span ng-controller="ModalLangController">
				<button type="button" class="btn btn-default btn-sm" ng-click="open()">
                    <span class="glyphicon glyphicon-globe"></span>
                    {{ 'LANGUAGE' | translate }}
                    <img class="flag16" ng-src="{{config.lang ? './img/16/'+config.lang+'.png' : ''}}"/>
                </button>
			</span>
			<span ng-controller="ModalTypingOptionsController">
				<button type="button" class="btn btn-default btn-sm" ng-click="open('write')">
                    <span class="glyphicon glyphicon-cog"></span>
                    {{ 'CONFIGURATION' | translate }}
                    <span class="config-display text-muted"> {{config|writeConfigDisplay}} </span>
                </button>
			</span>
            <button type="button" class="btn btn-default btn-sm" ng-click="reload()">
                <span class="glyphicon glyphicon-repeat"></span>
                {{ 'RESTART' | translate }}
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="doStartHelpTour()">
                <span class="glyphicon glyphicon-question-sign"></span>
                {{ 'HELP' | translate }}
            </button>
        </div>
        <div id="stats" class="stats">
            <div>
                <label>{{ 'ACCURACY' | translate }}&nbsp;</label>
                <label>{{line.stats.accuracy}}%</label>

            </div>
            <div>
                <label>{{ 'WPM' | translate }}&nbsp;</label>
                <label>{{line.stats.wpm}}</label>
            </div>
        </div>

    </div>
    <writing></writing>

    <div class="writeInfo">
        <div ng-if="finished" class="col-md-6">
            <typing-summary></typing-summary>
        </div>
        <div ng-if=" finished" class="col-md-6 text-center">
            <aaddss slot="box"></aaddss>
        </div>

        <div ng-if="!finished" id="keyboard">
            <keyboard key="{{line.nextExpected}}" lang="{{config.lang}}"></keyboard>
        </div>
    </div>
</div>