<div class="container" id="group">

    <div id="group-header">
        <div>
            <h2>
                <span ng-show="viewerIsAdmin && !group.is_archived" editable-text="group.name">{{group.name}}</span>
                <span ng-hide="viewerIsAdmin && !group.is_archived" class="archived-{{group.is_archived}}">{{group.name}}</span>
                <img class="group-lang" tooltip="{{group.lang | langName}}" ng-src="./img/24/{{group.lang}}.png"/>


                <div ng-show="groups.count>0" class="btn-group pull-right" dropdown keyboard-nav
                     auto-close="outsideClick">
                    <button id="other-groups-btn" class="btn btn-default btn-sm" dropdown-toggle>
                        <span class="glyphicon glyphicon-th-list"></span>
                        {{'OTHER_GROUPS'|translate}}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="other-groups-btn">

                        <li ng-show="groups.count>8">
                            <form id="other-groups-form">
                                <input class="form-control" type="search" ng-model="othersFilter.name"
                                       class="makePaymentDropdownSearchBox" placeholder="{{'SEARCH'|translate}}"/>
                                <div>
                                    <label>
                                        <input type="checkbox" ng-model="othersFilter.archived"><span>{{'INCLUDE_ARCHIVED'|translate}}</span>
                                    </label>
                                </div>
                            </form>
                        </li>
                        <li ng-show="groups.count>8" class="divider">

                        <li ng-repeat="s in groups.groups_admin | filter: otherGroupsFilter | orderBy:'is_archived'"
                            role="menuitem">
                            <a href="{{baseUrl}}/{{s.id}}">
                                <img class='flag' ng-src="{{'./img/16/'+s.lang+'.png'}}"/>&nbsp;
                                <span class="archived-{{s.is_archived}}">{{s.name}}</span>
                            </a>
                        </li>
                        <li ng-show="groups.groups_admin.length>0 && groups.groups_student.length>0" class="divider">

                        <li ng-repeat="s in groups.groups_student | filter: otherGroupsFilter | orderBy:'is_archived'"
                            role="menuitem">
                            <a href="{{baseUrl}}/{{s.id}}">
                                <img class='flag' ng-src="{{'./img/16/'+s.lang+'.png'}}"/>&nbsp;
                                <span class="archived-{{s.is_archived}}">{{s.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <span ng-show="viewerIsAdmin" ng-controller="ModalGroupOptionsController">
                    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="open(group)">
                        <span class="glyphicon glyphicon-cog"></span>
                        {{ 'CONFIGURATION' | translate }}
                    </button>
                </span>

            </h2>
        </div>
        <div class="text-muted">
            <span ng-show="group.is_archived"> {{ 'ARCHIVED' | translate }}
                <span ng-bind="group.archived_time | fromNow" tooltip="{{group.archived_time | toCalendar}}"></span>.
            </span>
            {{ 'CREATED' | translate }}
            <span ng-bind="group.started | fromNow" tooltip="{{group.started | toCalendar}}"></span>.
        </div>
    </div>

    <tabset id="group-students">
        <!--active="tabInitial==='overall'"-->
        <tab active="active.overall" ng-click="tabChanged('overall')">
            <tab-heading>
                {{'OVERALL'|translate}}
            </tab-heading>
            <groupstudents></groupstudents>
        </tab>
        <tab active="active.learn" select="tabChanged('learn')">
            <tab-heading>
                {{'LEARN'|translate}}
            </tab-heading>
            <groupstudents></groupstudents>
        </tab>
        <tab active="active.write" select="tabChanged('write')">
            <tab-heading>
                {{'WRITE'|translate}}
            </tab-heading>
            <groupstudents></groupstudents>
        </tab>

        <tab active="active.competitions" ng-click="tabChanged('competitions')">
            <tab-heading>
                {{'COMPETITIONS'|translate}}
                <button ng-show="viewerIsAdmin" type="button" ng-controller="ModalGroupNewCompetitionController"
                        class="btn btn-sm btn-default add-group-competition"
                        ng-click="open(group, fillTab)">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{'ADD'|translate}}
                </button>
            </tab-heading>
            <groupcompetitions></groupcompetitions>
        </tab>
    </tabset>

</div>