<h1>Szkolenie z pisania bezwzrokowego</h1>
<p>Na TouchTyping.guru każdy sam i za darmo może nauczyć się bezwzrokowego pisania na klawiaturze, korzystając z <a
        href='jak-uczyc-sie-szybkiego-pisania-bezwzrokowego'>unikalnego algorytmu wspierającego postępy</a>.
    Niestety, większość osób ma problemy
    z motywacją. Nie są w stanie wytrwale poświęcać po kilka-kilkanaście minut codziennie przez kilka tygodni.</p>
<p><b>Kurs grupowy wprowadza do nauki rywalizację, co znacznie podnosi poziom motywacji.</b> Wszyscy uczestnicy widzą
    postępy innych. Listę uzyskiwanych rezultatów można sortować według wielu kryteriów, więc każdy może łatwo
    oszacować,
    jakie
    wyniki osiąga na tle grupy. Ponadto, dla grupy zorganizować można zawody, w których wszyscy, pisząc ten sam tekst,
    porównają swoje umiejętności.</p>

<img src="img/group.jpg" class="img-responsive right" alt="szkoła szybkiego pisania"/>
<h2>Szkolenie w pisaniu na klawiaturze dla firm</h2>
<p>Popraw efektywność pracy przy komputerze w swojej firmie. Ile czasu marnują twoi pracownicy, pisząc zbyt wolno? Jak
    spada ich wydajność, kiedy zamiast myśleć o tym, co chcą napisać, muszą szukać na klawiaturze odpowiedniego
    przycisku?
    <blockquote>
<p>Przy pisaniu sterowanym wzrokiem nie jest możliwe przekroczenie 30 słów na minutę, podczas gdy pisząc bezwzrokowo
    łatwo można osiągnąć prędkość ponad 80 słów na minutę, jednocześnie utrzymując dużą dokładność.</p>
<footer>z opisu <a href='pisanie-bezwzrokowe-korzysci'>korzyści z pisania bezwzrokowego</a></footer>
</blockquote>
Zakładając, że twoi pracownicy piszą na klawiaturze przez połowę czasu pracy i nauczyliby się pisać chociaż dwa razy szybciej, to
każdy z nich codziennie na wykonanie tych samych czynności, zamiast czterech godzin, potrzebowałby tylko dwóch.
<b>Tygodniowo każdy pracownik zoszczędziłby 10 godzin, a miesięcznie 40 godzin</b>,
czyli cały tydzień pracy! Teraz należy to pomnożyć przez ilość pracowników i stawkę godzinową. Ta inwestycja zwróci się bardzo szybko!
</p>

<h2>Kurs pisania bezwzrokowego dla szkół i uczelni</h2>
<p>Grupowy kurs pisania od TouchTyping.guru jest idealny do nauki dla uczniów i studentów. Można dla każdej klasy
    utworzyć odrębną grupę i zaprosić do niej uczniów. Później mogą oni ćwiczyć o dowolnej porze i z dowolnego miejsca
    na ziemi.</p>
<p> Ewaluacja może opierać się na różnych kryteriach: zaangażowaniu, postępie lub osiąganych
    wynikach. To prowadzący wybiera kryteria ewaluacji. Ciekawą możliwością jest zorganizowanie zawodów na zakończenie
    kursu i wystawienie ocen na podstawie wyników uzyskanych w bezpośredniej rywalizacji.
</p>

<div class="col-sm-6 add-group-intro">
    Rozpocznij od razu! <b>Wybierz język, w którym będziecie pisać, utwórz grupę i zaproś do niej uczestników.</b>
    Będąc administratorem grupy możesz też samemu dodać się do grupy i uczyć się z innymi.
</div>
