<div class="container article">
    <div ng-if="path.length>0" ng-include="path"></div>

    <div class="add-group-form col-sm-6">

        <form class="form-horizontal">

            <alert ng-show="notLoggedIn" type="warning" ng-bind-html="'GROUP_LOG_IN_TO_CREATE'|translate|unsafe"></alert>

            <div class="option form-group" ng-controller="ModalLangController">
                <label for="groupLang" class="col-sm-4 control-label">Language</label>

                <div class="col-sm-8">
                    <button type="button" class="btn btn-default" ng-click="open()" id="groupLang"
                            ng-disabled="user.id==0">
                        <span class="glyphicon glyphicon-globe"></span>
                        {{'CHANGE'|translate}}
                    </button>
                <span>&nbsp;
                    <img class='flag' ng-src="{{config.lang ? './img/24/'+config.lang+'.png' : ''}}"/>
                    {{config.lang | langName}}
                </span>
                </div>
            </div>

            <div class="form-group">
                <label for="groupName" class="col-sm-4 control-label">{{'GROUP_NAME'|translate}}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="groupName" ng-model="groupName"
                           ng-disabled="notLoggedIn" maxlength="40">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="button" class="btn btn-primary" ng-click="createGroup()" ng-disabled="notLoggedIn">
                        <span class="glyphicon glyphicon-plus"></span>
                        {{'CREATE_GROUP'|translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

