<h1>Touch typing course for the group</h1>
<p>On TouchTyping.guru everybody can learn touch typing alone and for free using our <a
        href='how-to-learn-touch-typing'>unique algorithm that supports the progress.</a>
    Unfortunately, most of the people have motivational problems. They are not able to persistently dedicate themselves
    to typing exercises, even dozen or so minutes daily for several weeks.</p>
<p><b>Group typing course introduces competition to the learning process, what meaningfully increases the level of
    motivation</b>
    All the participants see the progress of the others. The list of results may be sorted differently, so everybody may
    easily estimate their skills across the group. It's possible to organize competitions for the group, where every
    participant writes the same text, so the progress comparison is even more exact.
</p>
<img src="img/group.jpg" class="img-responsive right" alt="typing school"/>
<h2>Keyboard typing course for companies</h2>
<p>Increase the efficency of the work at the computer in your company. How much time do your workers waste typing too
    slow? How much de efficency goes down when instead of thinking of what they need to type, they are searching for the
    correct keys on the keyboard?
<blockquote>
    <p>While a hunt and peck typist would be hard pressed to reach 30 words per minute, touch typist can easily reach
        typing speeds above 80 words per minute, maintaining high accuracy.</p>
    <footer>from the description of <a href='touch-typing-benefits'>the touch typing benefits</a></footer>
</blockquote>
Suppose your employees type on the keyboard during half time of their work. If they've learnt to type at least two times faster, each of
them would need only two hours instead of four to perform the same activities every day.
<b>Weekly each employee would save 10 hours, and 40 hours monthly</b>, that means the whole week of work!
Now multiply this by the amount of employees and the hourly rate. This investement will pay off very soon!

<h2>Touch typing software for schools</h2>
<p>Group course on TouchTyping.guru is ideal for students to learn how to type correctly. For each class you can create
    the separate group and invite all students to join. Later they can exercise anytime and from wherever they like.
</p>
<p>Evaluation may be based on various aspects: commitment, progress or on achived results. That is up to the class
    creator. The interesting possibility is to organize the competition at the end of the course and setting the notes
    based on the results achieved in the direct competition.
</p>

<div class="col-sm-6 add-group-intro">
    Start now! <b>Choose the language, you'll type in, create the group and invite the participants to join.</b>
    Being the group administrator you can still join it as a student and learn with others.
</div>
