<h1>Escuela de mecanografía</h1>
<p>Cada uno puede aprender mecanografía con TouchTyping.guru individualmente, en línea y de forma gratuita, <a
        href='como-aprender-mecanografia'>aprovechando del único algoritmo que apoya el progreso.</a>
    Desgraciadamente, la mayoría de la gente tiene las problemas con motivación. Muchos no son capaces
    de sacrificiar entre 10 y 20 minutos cada día durante algunas semanas.</p>
<p><b>El curso de grupo mete la competición en el aprendizaje, que afecta el nivel de motivación de la forma muy
    positiva.</b>
    Todos los participantes ven el progreso de los otros. La lista de los resultados se sorte de las maneras varias, así
    cada uno puede comparar su velocidad y precisión al tecaldo con el nivel del grupo. Se lo puede logar
    todavía más fácilmente organizando las competiciones para el grupo, donde todos los participantes escriben el mismo
    texto.
</p>

<img src="img/group.jpg" class="img-responsive right" alt="escuela de mecanografia"/>
<h2>El curso de mecanografia para las empresas</h2>
<p>Mejora la productividad con el ordenador en tu empresa. ¿Cuánto tiempo tus trabajadores se echan a perder tecleando
    demasiado despacio?
    ¿Cómo baja la eficacia, cuando en vez de pensar en lo que escribir, la gente mira el teclado para encontrar las
    letras que desea pulsar?
<blockquote>
    <p>Al mecanografíar (...) serás más rápido que 80 palabras por minuto. Lograr esta velocidad usando el método
        tradicional <i>caza y picotear</i> es simplemente imposible, lo máximo aquí es 30 palabras por minuto.</p>
    <footer>de <a href='mecanografia-beneficios'>los beneficios de mecanografía</a></footer>
</blockquote>
Vamos a suponer que tus trabajadores escriban al teclado durante de la mitad de la jornada laboral y que hayan aprendido a tipear por lo menos
dos veces más rápido. En esta situación cada uno de ellos necessitaría sólo dos horas en vez de cuatro para las mismas actividades diarias.
<b>Cada semana un trabajador ahorraría 10 horas y cada mes 40 horas</b>, eso es la semana laboral entera!
Ahora multiplicalo por el número de los trabajadores y por la tarifa por hora. ¡Vaya inversión vale la pena!
</p>

<h2>El curso de tipeo para las escuelas</h2>
<p>Las lecciones de mecanografía en grupo de TouchTyping.guru son ideales para los estudiantes. En el modelo más común
    para cada clase se crea un grupo y se invita a unirse a todos los estudiantes. Despues ellos pueden hacer ejercicios
    de mecanografía cuando quieran y de donde quieran.
</p>
<p>La evaluación se puede baser en los criterios varias: el sacrificio, el progreso o en los resultados logrados, que se
    deja al creador del grupo para decidir. La posibilidad interesante es organizar las competiciones del tipeo al final
    del curso y valorar los estudiantes basandose en los resultados de la competición directa.
</p>

<div class="col-sm-6 add-group-intro">
    ¡Empieza ahora! <b>Elige el idioma en el que van a tipear, crea el grupo y invita a los participantes.</b>
    Al estar el administrador del grupo es también possible unirse al grupo y aprender con otros.
</div>
