.letter {
    transition: margin-top 10s linear;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    width: 39px;
    text-align: center;
    font-size: 26px;
    font-family: monospace;
    position: absolute;
}

#text.game {
    height: 500px;
    overflow: hidden;
}

#falling-letters {
    overflow: hidden;
    height: 97.5%;
}

#start-command {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
}

#falling-letters-container {
    background-color: #E0ECF8;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}