<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="myApp">
<head>
    <base href="/typing1/app/"/>
    <meta name="fragment" content="!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{$root.keywords}}">

    <title ng-bind="$root.title">TouchTyping.guru</title>

    <link rel="icon" type="image/png" href="img/favicon.png">

    <link rel="alternate" hreflang="x-default" href="http://touchtyping.guru/{{$root.langs['en']}}"/>
    <link  ng-repeat="(lang, url) in $root.langs" rel="alternate" hreflang="{{lang}}" href="http://{{lang}}.touchtyping.guru/{{url}}"/>

    <!-- build:css css/typing.min.css -->
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/modals.css"/>
    <link rel="stylesheet" href="css/write.css"/>
    <!-- <link rel="stylesheet" href="css/animations.css" /> -->
    <link rel="stylesheet" href="css/config.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/dashboard.css"/>
    <link rel="stylesheet" href="css/competitions.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/xeditable.css"/>
    <link rel="stylesheet" href="css/login.css"/>
    <link rel="stylesheet" href="css/group.css"/>
    <link rel="stylesheet" href="css/introjs.css"/>
    <link rel="stylesheet" href="css/games/falling-letters.css"/>
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- <script src="lib/others/jquery-1.10.1.min.js"></script> -->
    <!-- <script src="lib/angular/angular.js"></script> -->
    <!-- <script src="lib/angular/angular-route.min.js"></script> -->
    <!-- <script src="lib/others/bootstrap.min.js"></script> -->
    <!-- <script src="lib/others/moment.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!--claudflare often unavailable and in any case a lot of files now loaded-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment-with-locales.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/stacktrace.js/0.6.4/stacktrace.min.js"></script>-->

    <script src="js/ads.js"></script>

    <!-- build:js js/typing.min.js -->
    <script src="lib/others/moment.js"></script>
    <script src="lib/others/stacktrace.min.js"></script>
    <script src="lib/others/ui-bootstrap-tpls-0.13.1.min.js"></script>
    <script src="lib/others/xeditable.min.js"></script>
    <script src="lib/others/hello.all.min.js"></script>
    <script src="lib/others/angular-momentjs.js"></script>
    <script src="lib/others/imageupload.js"></script>
    <script src="lib/others/angular-translate.min.js"></script>
    <script src="lib/others/angular-translate-load-static-files.js"></script>
    <script src="lib/others/intro.js"></script>
    <script src="lib/others/angular-intro.js"></script>
    <script src="lib/others/angular-charts.min.js"></script>
    <script src="lib/others/searchjs.js"></script>
    <script src="lib/others/angular-inview.js"></script>
    <script src="lib/others/ng-local-storage.min.js"></script>
    <script src="lib/others/cookie-consent.js"></script>

    <script src="js/model/line.js"></script>
    <script src="js/model/letters-group.js"></script>
    <script src="js/model/stats.js"></script>
    <script src="js/model/approach.js"></script>
    <script src="js/model/competition.js"></script>
    <script src="js/model/games/falling-letter.js"></script>
    <script src="js/model/games/game.js"></script>
    <script src="js/model/message.js"></script>
    <script src="js/model/special-char.js"></script>

    <script src="js/app.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/keyboard.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/helpers.js"></script>

    <script src="js/services/texts-service.js"></script>
    <script src="js/services/texts-calculations-service.js"></script>
    <script src="js/services/typing-config-service.js"></script>
    <script src="js/services/approach-service.js"></script>
    <script src="js/services/competition-service.js"></script>
    <script src="js/services/user-service.js"></script>
    <script src="js/services/dashboard-service.js"></script>
    <script src="js/services/error-service.js"></script>
    <script src="js/services/tooltip-tour-service.js"></script>
    <script src="js/services/loader.js"></script>
    <script src="js/services/loader-interceptor.js"></script>
    <script src="js/services/auth-interceptor.js"></script>
    <script src="js/services/stacktrace-services.js"></script>
    <script src="js/services/local-storage-service.js"></script>
    <script src="js/services/lang-service.js"></script>
    <script src="js/services/group-service.js"></script>

    <script src="js/controllers/modal-lang-controller.js"></script>
    <script src="js/controllers/modal-typing-options-controller.js"></script>
    <script src="js/controllers/modal-info-controller.js"></script>
    <script src="js/controllers/modal-page-lang-controller.js"></script>
    <script src="js/controllers/menu-controller.js"></script>
    <script src="js/controllers/abstract-typing-controller.js"></script>
    <script src="js/controllers/write-controller.js"></script>
    <script src="js/controllers/learn-controller.js"></script>
    <script src="js/controllers/main-controller.js"></script>
    <script src="js/controllers/abstract-dashboard-controller.js"></script>
    <script src="js/controllers/dashboard-controller.js"></script>
    <script src="js/controllers/dashboard-other-controller.js"></script>
    <script src="js/controllers/competitions-controller.js"></script>
    <script src="js/controllers/login-controller.js"></script>
    <script src="js/controllers/error-controller.js"></script>
    <script src="js/controllers/competition-controller.js"></script>
    <script src="js/controllers/article-controller.js"></script>
    <script src="js/controllers/school-controller.js"></script>
    <script src="js/controllers/group-controller.js"></script>
    <script src="js/controllers/modal-group-options-controller.js"></script>
    <script src="js/controllers/modal-confirm-controller.js"></script>
    <script src="js/controllers/modal-group-new-competition-controller.js"></script>

    <script src="js/controllers/games/falling-letters-controller.js"></script>

    <!-- endbuild -->

</head>
<body ng-cloak>

<div class="tt-navbar navbar navbar-inverse" role="navigation">
    <!-- 	navbar-fixed-top -->
    <div class="container" ng-controller="MenuController">

        <div class="navbar-header" id="logo">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">+/-</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="./">
                <img ng-src="img/touch-typing-guru.png" alt="TouchTyping.guru">
            </a>
        </div>
        <div id="menu" class="navbar-collapse collapse">
            <ul ng-cloak class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brand {{current==='learn'}}" href="{{learnUrl}}">{{'LEARN'|translate}}</a>
                </li>
                <li>
                    <a class="navbar-brand {{current==='write'}}" href="{{writeUrl}}">{{'WRITE'|translate}}</a>
                </li>
                <li>
                    <a class="navbar-brand {{current.indexOf('competition')>=0}}" href="{{competitionsUrl}}">{{'COMPETITIONS'|translate}}</a>
                </li>
                <li>
                    <a class="navbar-brand {{current==='school'}}" href="{{schoolUrl}}">{{'SCHOOL'|translate}}</a>
                </li>
                <li id="profileLink">
                    <a ng-if="!isLoggedIn" href="{{loginUrl}}" class="navbar-brand main {{current==='login'}}">{{'LOGIN'|translate}}</a>

                    <div ng-if="isLoggedIn" class="btn-group">
                        <a href data-toggle="dropdown"
                           class="btn-inverse navbar-brand main {{current.indexOf('dashboard')>0}}">
                            <img ng-src="{{user.picture}}" width="26px" height="26px"/>
                            <span>{{user.nick}}</span>
                        </a>

                        <ul class="dropdown-menu" ng-if="isLoggedIn">
                            <li>
                                <a href="{{dashboardUrl}}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    {{ 'PROFILE' | translate }}
                                </a>
                            </li>
                            <li ng-if="displayGroup">
                                <a href="{{groupUrl}}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    {{ 'GROUP' | translate }}
                                </a>
                            </li>
                            <li>
                                <a href="" ng-click="logout()">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    {{'LOGOUT'|translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="container-full">

    <div ng-controller="ErrorController">
        <div ng-if="showSpinner" class="overlayBackground"></div>
        <div class="container errorBox">
            <alert ng-repeat="m in messages" type="{{m.type}}" close="closeAlert($index,m.id)"><span
                    ng-bind-html="m.text"></span></alert>
        </div>
    </div>

    <div ng-cloak ng-view></div>

    <footer id="footer">
        <div class="container">
            <div class="col-md-6 social">

                <span translate>SOCIAL</span>
                <a href="https://www.facebook.com/touchtyping.guru" rel="publisher" target="_blank">
                    <img src="img/facebook.png" alt="TouchTyping.guru on Facebook"
                         title="Facebook TouchTyping.guru"/>
                </a>
                <a href="https://google.com/+TouchtypingGuru" rel="publisher" target="_blank">
                    <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="TouchTyping.guru on Google+"
                         title="Google+ TouchTyping.guru"/>
                </a>
                <a href="https://www.youtube.com/channel/UCKWjNwJku_RihCTfZLVwnCg" rel="publisher" target="_blank">
                    <img src="img/yt.png" alt="TouchTyping.guru on Google+"
                         title="Youtube TouchTyping.guru"/>
                </a>
                <a href="http://touchtyping.guru/blog" rel="publisher" target="_blank">
                    <img src="img/blog.png" alt="TouchTyping.guru Blog"
                         title="Blog TouchTyping.guru"/>
                </a>

            </div>

            <div class="col-md-6 siteInfos">
                <p ng-cloak ng-controller="ModalPageLangController">
                    <span id="siteLang" ng-click="open()">
                        {{ 'SITE_LANGUAGE' | translate }}
                        <img ng-src="{{currentSiteLang?'./img/16/' + currentSiteLang + '.png':''}}"/>
                    </span>
                </p>
            </div>

            <div class="col-md-12 contact-details">
                &copy; TouchTyping.guru - contact@touchtyping.guru
            </div>
        </div>
    </footer>
</div>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55494068-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
