<h4>{{'CURRENT_POSITION'|translate}}</h4>
<table class="table table-hover competitions">
    <tbody>
    <tr ng-repeat="position in positions" class="{{position.type}}">
        <td>{{position.no}}</td>
        <td>
				<span class="thumbnail user-thumbnail">
					<img ng-src="{{position.picture}}" height="45px" width="45px"/>
				</span>
        </td>
        <td>
            <a ng-if="position.id>0" ng-href="{{profileUrl}}/{{position.id}}">{{position.nick}}</a>
            <i ng-if="position.id===0">{{'YOU'|translate}}</i>
        <td>{{position.best_result}}</td>
    </tr>
    </tbody>
</table>
<a id="morePositions" ng-show="showAllPositionsLink" href="" ng-click="showAllPositions()">{{'SHOW_ALL'|translate}}</a>