<div>
    <table class="table table-hover table-striped students">
        <thead>
        <tr>
            <th class="student-name">
                <span ng-click="orderBy('nick')">{{'GROUP_STUDENT'|translate}}{{orderedBy('nick')}}</span>
                <input ng-show="viewerIsAdmin || (!viewerIsAdmin && group.show_others)"
                       class="form-control input-sm" type="text"
                       ng-model="searchUser.nick" placeholder="{{'SEARCH'|translate}}">
                <span class="text-muted group-competition-head">{{group.students|groupUsersCount: searchUser}}</span>
            </th>
            <th ng-click="orderBy('last_activity')">{{'LAST_ACTIVITY'|translate}}{{orderedBy('last_activity')}}</th>
            <th ng-click="orderBy('approaches')">{{'TIMES_TYPED'|translate}}{{orderedBy('approaches')}}</th>
            <th ng-click="orderBy('time_typing')">{{'SPENT_TYPING'|translate}}{{orderedBy('time_typing')}}
            </th>
            <th ng-click="orderBy('words_typed')">{{'WORDS_TYPED'|translate}}{{orderedBy('words_typed')}}
            </th>
            <th ng-show="tab!='write'" ng-click="orderBy('letters')">{{'LETTERS_ACHIEVED'|translate}}{{orderedBy('letters')}}</th>
            <th ng-click="orderBy('avg_accuracy')">
                {{'AVERAGE_ACCURACY'|translate}}{{orderedBy('avg_accuracy')}}
            </th>
            <th ng-click="orderBy('avg_wpm')">{{'AVERAGE_SPEED'|translate}}{{orderedBy('avg_wpm')}}</th>
            <th ng-click="orderBy('best_wpm')">{{'BEST_SPEED'|translate}}{{orderedBy('best_wpm')}}</th>
            <th ng-click="orderBy('best_result')">{{'BEST_RESULT'|translate}}{{orderedBy('best_result')}}
            </th>
            <th ng-show="viewerIsAdmin"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in group.students | filter:searchUser | orderBy:orderProperty:isReverse">
            <td class="student">
                <a ng-href="{{profileUrl}}/{{s.id}}">
                    <span class="thumbnail user-thumbnail">
                        <img ng-src="{{s.picture}}" height="45px" width="45px"/>
                    </span>
                    <span class="user-nick {{userId===s.id}}">{{s.nick}}</span>
                </a>
            </td>
            <td>{{s.last_activity|fromNow}}</td>
            <td>{{s.approaches}}</td>
            <td>{{s.time_typing|durationInMinutes}}</td>
            <td>{{s.words_typed}}</td>
            <td ng-show="tab!='write'">{{s.letters}}</td>
            <td>{{s.avg_accuracy}}</td>
            <td>{{s.avg_wpm}}</td>
            <td>{{s.best_wpm}}</td>
            <td>{{s.best_result}}</td>
            <td ng-show="viewerIsAdmin">
                    <span class="glyphicon glyphicon-remove remove-from-group" aria-hidden="true"
                          title="remove from group" ng-click="removeUserFromGroup(s)">
                    </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>