<div>
    <table class="table table-hover table-striped students">
        <thead>
        <tr>
            <th class="student-name">
                <span ng-click="orderBy('nick')">{{'GROUP_STUDENT'|translate}}{{orderedBy('nick')}}</span>
                <input ng-show="viewerIsAdmin || (!viewerIsAdmin && group.show_others)"
                       class="form-control input-sm" type="text"
                       ng-model="searchUser.nick" placeholder="{{'SEARCH'|translate}}">
                <span class="text-muted group-competition-head">{{positions|groupUsersCount: searchUser}}</span>
            </th>

            <th class="group-competition-head" ng-repeat="c in competitions"
                ng-click="orderBy('result' + $index)" tooltip-placement="left">
                {{c.end_time|competitionEndFromNow}}
                <div class="text-muted group-competition-head">{{c|groupCompetitionConfig}}</div>
                {{orderedBy('result'+ $index)}}
                <a ng-show="viewerIsStudent && c.is_active" href="{{c|competitionJoinLink}}">{{'JOIN'|translate}}</a>
            </th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in positions | filter:searchUser | orderBy:orderProperty:isReverse">
            <td class="student">
                <a ng-href="{{profileUrl}}/{{s.id}}">
                    <span class="thumbnail user-thumbnail">
                        <img ng-src="{{s.picture}}" height="45px" width="45px"/>
                    </span>
                    <span class="user-nick {{userId===s.id}}">{{s.nick}}</span>
                </a>
            </td>
            <td ng-repeat="c in competitions">{{s['result'+$index]}}</td>
        </tr>
        </tbody>
    </table>
</div>