<div class="hands">
    <div class="leftMarkers">
        <div class="left"></div>
        <div class="l1" ng-show="is('l1')"></div>
        <div class="l2" ng-show="is('l2')"></div>
        <div class="l3" ng-show="is('l3')"></div>
        <div class="l4" ng-show="is('l4')"></div>
        <div class="l5" ng-show="is('l5')"></div>
    </div>
    <div class="rightMarkers">
        <div class="right"></div>
        <div class="r1" ng-show="is('r1')"></div>
        <div class="r2" ng-show="is('r2')"></div>
        <div class="r3" ng-show="is('r3')"></div>
        <div class="r4" ng-show="is('r4')"></div>
        <div class="r5" ng-show="is('r5')"></div>
    </div>
</div>
