<div id="text">
    <div class="taskcontainer">
        <div class="taskwrapper">
            <div class="task done">{{line.textDone}}</div>
            <div class="task todo">{{line.textTodo}}</div>
            <div class="task textToShow done" style="">{{line.textToShow}}</div>
        </div>
    </div>
    <div id="answercontainer" class="{{finished}}" ng-click="focusInput()">
        <input in-view="focusInput()" id="writeInput" type="text" class="answer" ng-change="updateOnChange()"
               ng-model="line.writtenText" ng-disabled="finished" ng-trim="false" ng-paste="updateOnPaste()"/>
    </div>
    <progressbar value="100-line.stats.progress" type="success"></progressbar>
</div>

