<h4>{{'SUMMARY'|translate}}</h4>
<table class="table table-hover summary">
    <tr>
        <td>{{'WRITTEN'|translate}}</td>
        <td>
            <b>{{line.stats.keystrokes}}</b>
            {{'KEYSTROKES'|translate}} / {{line.stats.keystrokesExpected}} {{'EXPECTED'|translate}}
        </td>
        <td>
			<span class="glyphicon glyphicon-info-sign" tooltip="{{'WRITTEN_INFO'|translate}}"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="left"></span>
        </td>
    </tr>
    <tr>
        <td>{{'WPM'|translate}}</td>
        <td>
            <b>{{line.stats.wpm}}</b>
        </td>
        <td>
			<span class="glyphicon glyphicon-info-sign" tooltip="{{'WPM_INFO'|translate}}" tooltip-trigger="mouseenter"
                  tooltip-placement="left"></span>
        </td>
    </tr>
    <tr>
        <td>{{'ERRORS'|translate}}</td>
        <td>
            <b>{{line.stats.errors}}</b>
            /
            <b>{{line.stats.corrections}}</b>
            {{'CORRECTED'|translate}}
        </td>
        <td>
			<span class="glyphicon glyphicon-info-sign" tooltip="{{'ERRORS_INFO'|translate}}"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="left"></span>
        </td>
    </tr>
    <tr>
        <td>{{'ACCURACY'|translate}}</td>
        <td>
            <b>{{line.stats.accuracy}}</b>
            %
        </td>
        <td>
			<span class="glyphicon glyphicon-info-sign" tooltip="{{'ACCURACY_INFO'|translate}}"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="left"></span>
        </td>
    </tr>
    <tr>
        <td>{{'WRITING_RESULT'|translate}}</td>
        <td>
            <b>{{(line.stats.result/line.stats.resultFactor).toFixed(2)}}</b>
            <span class="text-muted">{{'CONFIG_DIFFICULTY'|translate}} {{line.stats.resultFactor.toFixed(2)}}</span>
        </td>
        <td>
			<span class="glyphicon glyphicon-info-sign" tooltip="{{'WRITING_RESULT_INFO'|translate}}"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="left"></span>
        </td>
    </tr>
    <tr>
        <td>{{'RESULT'|translate}}</td>
        <td>
            <b>{{line.stats.result}}</b>
        </td>
        <td>
			<span class="glyphicon glyphicon-info-sign" tooltip="{{'RESULT_INFO'|translate}}"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="left"></span>
        </td>
    </tr>
    <tr>
        <td colspan="3"><a href="./dashboard">
            {{'TYPING_HISTORY' | translate}}
        </a></td>
    </tr>
</table>


